<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Study Manager</title>
    <link rel="stylesheet" href="/css/calendar.css">
</head>
<body>

<th:block th:replace="schedule/navbar :: navbar"/>

<div class="container-fix">
    <div class="leftBar text-center">
        <button class="btn-default btn-size changeHover todaySchedule" onclick="location.href='/user/todaySchedule'">오늘의
            스케줄
        </button>
        <button class="btn-default btn-size changeHover lookAtCalendar" onclick="location.href='/user/calendar'">달력으로
            보기
        </button>
        <button class="btn-default btn-size changeHover createSchedule" onclick="location.href='/user/createSchedule'">
            스케줄 만들기
        </button>
        <button class="btn-default btn-size changeHover administrateSchedule" onclick="location.href='/user/administrateSchedule'">
            스케줄 관리하기
        </button>
    </div>
    <div class="container text-center">
        <div class="calendar">

<!--            날짜 네비게이션  -->
                        <div class="navigation">
                            <a class="before_after_year" th:href="@{/user/calendar(year=${today_info.get('search_year')-1},month=${today_info.get('search_month')-1})}">
                                &lt;&lt;
                                <!-- 이전해 -->
                            </a>
                            <a class="before_after_month" th:href="@{/user/calendar(year=${today_info.get('before_year')},month=${today_info.get('before_month')})}">
                                &lt;
                                <!-- 이전달 -->
                            </a>
                            <span class="this_month" th:text="${today_info.get('search_year')+ '.' + today_info.get('search_month')}">
                                &nbsp;
                                <p th:if="${today_info.get('search_month') < 10}" th:text="${today_info.get('search_month')}">0</p>
            		        </span>
                            <a class="before_after_month" th:href="@{/user/calendar(year=${today_info.get('after_year')},month=${today_info.get('after_month')})}">
                                <!-- 다음달 -->
                                &gt;
                            </a>
                            <a class="before_after_year" th:href="@{/user/calendar(year=${today_info.get('after_year') + 1},month=${today_info.get('after_month') - 1})}">
                                <!-- 다음해 -->
                                &gt;&gt;
                            </a>
                        </div>

            <!-- <div class="today_button_div"> -->
            <!-- <input type="button" class="today_button" onclick="javascript:location.href='/calendar.do'" value="go today"/> -->
            <!-- </div> -->
            <table class="calendar_body">

                <thead>
                <tr bgcolor="#CECECE">
                    <td class="day sun">
                        일
                    </td>
                    <td class="day">
                        월
                    </td>
                    <td class="day">
                        화
                    </td>
                    <td class="day">
                        수
                    </td>
                    <td class="day">
                        목
                    </td>
                    <td class="day">
                        금
                    </td>
                    <td class="day sat">
                        토
                    </td>
                </tr>
                </thead>
                <tbody>


                <tr>
                    <div th:each="date : ${dateList}" th:if="${dateStat.index / 7 == 0}">
                        <td th:if="${date.value == 'today'}" class="today">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 6}" class="sat_day">
                            <div class="sat" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 0}" class="sun_day">
                            <div class="sun" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${date.value != 'today' && dateStat.index % 7 != 6 && dateStat.index % 7 != 0}" class="normal_day">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </div>
                </tr>
                <!------------------------------------------------------------------------>

                <tr>
                    <div th:each="date : ${dateList}" th:if="${dateStat.index / 7 == 1}">
                        <td th:if="${date.value == 'today'}" class="today">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 6}" class="sat_day">
                            <div class="sat" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 0}" class="sun_day">
                            <div class="sun" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${date.value != 'today' && dateStat.index % 7 != 6 && dateStat.index % 7 != 0}" class="normal_day">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </div>
                </tr>
                <!------------------------------------------------------------------------------->

                <tr>
                    <div th:each="date : ${dateList}" th:if="${dateStat.index / 7 == 2}">
                        <td th:if="${date.value == 'today'}" class="today">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 6}" class="sat_day">
                            <div class="sat" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 0}" class="sun_day">
                            <div class="sun" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${date.value != 'today' && dateStat.index % 7 != 6 && dateStat.index % 7 != 0}" class="normal_day">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </div>
                </tr>
                <!-------------------------------------------------------------------------------->

                <tr>
                    <div th:each="date : ${dateList}" th:if="${dateStat.index / 7 == 3}">
                        <td th:if="${date.value == 'today'}" class="today">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 6}" class="sat_day">
                            <div class="sat" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 0}" class="sun_day">
                            <div class="sun" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${date.value != 'today' && dateStat.index % 7 != 6 && dateStat.index % 7 != 0}" class="normal_day">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </div>
                </tr>
                <!--------------------------------------------------------------------------------------------->

                <tr>
                    <div th:each="date : ${dateList}" th:if="${dateStat.index / 7 == 4}">
                        <td th:if="${date.value == 'today'}" class="today">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 6}" class="sat_day">
                            <div class="sat" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 0}" class="sun_day">
                            <div class="sun" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${date.value != 'today' && dateStat.index % 7 != 6 && dateStat.index % 7 != 0}" class="normal_day">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </div>
                </tr>
                <!------------------------------------------------------------------------>

                <tr>
                    <div th:each="date : ${dateList}" th:if="${dateStat.index / 7 == 5}">
                        <td th:if="${date.value == 'today'}" class="today">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 6}" class="sat_day">
                            <div class="sat" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${dateStat.index % 7 == 0}" class="sun_day">
                            <div class="sun" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>

                        <td th:if="${date.value != 'today' && dateStat.index % 7 != 6 && dateStat.index % 7 != 0}" class="normal_day">
                            <div class="date" th:text="${date.date}"></div>

                            <div th:each="content : ${date.getContent()}">
                                <div th:if="${contentStat.index < 4}">
                                    <div th:if="${content.isEnd == 'true'}" class="true-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">
                                    </div>
                                    <div th:if="${content.isEnd == 'false'}" class="false-text"
                                         th:text="${content.content_header} + '  :  ' + ${content.content_body}">>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </div>
                </tr>

        </tbody>

        </table>
    </div>
</div>
</div>

<style>
    .lookAtCalendar {
        background-color: #1b1e21;
        color: white;
    }
</style>

</body>
</html>